@if (isAuthenticated()) {
    <div class="container mt-4">
        <h1 class="text-align-center">Entidades</h1>
    
        <div class="row">
            @for (collections of getCollections(); track collections.id) {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <app-collection [collection]="collections"></app-collection>
                </div>
            }
        </div>
    </div>
    <!--<a href="http://localhost:8055/assets/a1b0ad08-d3f4-4b25-99e1-e227fc3843f5?download" target="_blank" download="org1.jpg">Download</a>-->

    <button (click)="download()">Descargar</button>
    <input type="file" (change)="handleFileInput($event)">
    <button (click)="refreshToken()">Refresh Token</button>
    <button (click)="isTokenExpired()">isTokenExpired</button>
}
@else {
    ERROR, DEBES ESTAR LOGEADO.
}
