@if (isAuthenticated()) {
    <div class="container mt-4">
        <h1 class="text-align-center">Entidades</h1>
    
        <div class="row">
            @for (collections of getCollections(); track collections.id) {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <app-collection [collection]="collections"></app-collection>
                </div>
            }
        </div>
    </div>

    <button (click)="download()">Descargar</button>
    <input type="file" (change)="handleFileInput($event)">
    <button (click)="refreshToken()">Refresh Token</button>
    <button (click)="isTokenExpired()">isTokenExpired</button>
}
@else {
    ERROR, DEBES ESTAR LOGEADO.
}
