@if (isAuthenticated()) {
    <div class="container mt-5">
        <h1>{{collection}}</h1>
        <!--<h1 [(ngModel)]="collection">{{collection}}</h1>-->
    
        <div class="d-flex justify-content-center">
    
            <table class="table">
                <thead>
                    @for (field of getFields(); track $index) {
                    <th scope="col">{{field.toUpperCase()}}</th>
                    }
                </thead>
    
                <tbody>
                    @for (item of this.directusService.getCollectionItems(); track $index) {
                        <!--<td>{{item.id}}</td>-->

                    <tr>
                        @for (field of getFields(); track $index) {
                            <td>{{item[field]}}</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <button routerLink="/home" class="btn btn-primary">Volver</button>
    </div>
}
@else {
    ERROR, DEBES ESTAR LOGEADO.
}
