<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="login-container col-md-6">
            <h2 class="text-center mb-4">Login</h2>
            <form #myForm="ngForm" (ngSubmit)="myForm.value">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="userCredentials.email" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="userCredentials.password" id="password" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember-me">
                    <label class="form-check-label" for="remember-me">Remember me</label>
                </div>
                <button (click)="processLogin()" type="submit" class="btn btn-primary w-100">Login</button>

            </form>
        </div>

        
    </div>
</div>