@if (collection.meta.system != true) {

<div class="card" style="width: 18rem;">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    @if (lang != 'default') {
    @if (collection.meta.translations) {
    @for (item of collection.meta.translations; track $index) {
    @if (item.language == lang) {
    <h5>{{item.translation}}</h5>
    }
    }
    }
    @else {
    <h5>{{collection.collection}}</h5>
    }

    }
    @else {
    <h5>{{collection.collection}}</h5>
    }
    <!--<h5 class="card-title">{{collection.collection}}</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a routerLink="/contentDetails" class="btn btn-primary">Inspect</a>-->
    <a (click)="mostrarDatos(collection)" class="mx-1 btn btn-primary">Inspect</a>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmModal">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square"
        viewBox="0 0 16 16">
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z">
        </path>
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
        </path>
      </svg>
      <span class="visually-hidden">Button</span>
    </button>
    <!--<a class="btn btn-danger">Delete</a>-->
    <!--<a routerLink="/collectionDetails/{{collection.collection}}" class="btn btn-primary" href="#">Inspect</a>-->
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas realizar esta acción?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="realizarAccion()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

}