<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="login-container col-md-6">
                    <h2 class="text-center mb-4">Profile</h2>
                    <form>
                        <div class="form-group">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" value="{{getProfile().id}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" value="{{getProfile().first_name}}" placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" value="{{getProfile().last_name}}" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" value="{{getProfile().email}}" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" value="{{getProfile().password}}" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" value="{{getProfile().location}}" placeholder="Enter location">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" value="{{getProfile().title}}" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" value="{{getProfile().description}}" placeholder="Enter description">
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" id="tags" value="{{getProfile().tags}}" placeholder="Enter tags">
                        </div>
                        <!--<div class="form-group">
                            <label for="avatar">Avatar</label>
                            <input type="text" class="form-control" id="avatar"
                                placeholder="Enter avatar">
                        </div>-->
                        <div class="form-group">
                            <label for="language">Language</label>
                            <input type="text" class="form-control" id="language" value="{{getProfile().language}}" placeholder="Enter language">
                        </div>
                        <div class="form-group">
                            <label for="tfa_secret">Tfa secret</label>
                            <input type="text" class="form-control" id="tfa_secret" value="{{getProfile().tfa_secret}}" placeholder="Enter tfa secret">
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" value="{{getProfile().status}}" placeholder="Enter status">
                        </div>
                        <div class="form-group">
                            <label for="token">Token</label>
                            <input type="text" class="form-control" id="token" placeholder="Enter token" value="{{getProfile().token}}">
                        </div>
                        <div class="form-group">
                            <label for="last_access">Last access</label>
                            <input type="text" class="form-control" id="last_access" value="{{getProfile().last_access}}">
                        </div>
                        <div class="form-group">
                            <label for="last_page">Last page</label>
                            <input type="text" class="form-control" id="last_page" value="{{getProfile().last_page}}">
                        </div>
                        <div class="form-group">
                            <label for="provider">Provider</label>
                            <input type="text" class="form-control" id="provider" value="{{getProfile().provider}}">
                        </div>
                        <div class="form-group">
                            <label for="external_identifier">External identifier</label>
                            <input type="text" class="form-control" id="external_identifier" value="{{getProfile().external_identifier}}">
                        </div>
                        <div class="form-group">
                            <label for="auth_data">Auth data</label>
                            <input type="text" class="form-control" id="auth_data" value="{{getProfile().auth_data}}">
                        </div>
                        <div class="form-group">
                            <label for="email_notifications">Email notifications</label>
                            <input type="text" class="form-control" id="email_notifications" value="{{getProfile().email_notifications}}">
                        </div>
                        <div class="form-group">
                            <label for="appearance">Appearance</label>
                            <input type="text" class="form-control" id="appearance" value="{{getProfile().appearance}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_dark">Theme dark</label>
                            <input type="text" class="form-control" id="theme_dark" value="{{getProfile().theme_dark}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_light">Theme light</label>
                            <input type="text" class="form-control" id="theme_light" value="{{getProfile().theme_light}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_light_overrides">Theme light overrides</label>
                            <input type="text" class="form-control" id="theme_light_overrides" value="{{getProfile().theme_light_overrides}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_dark_overrides">Theme dark overrides</label>
                            <input type="text" class="form-control" id="theme_dark_overrides" value="{{getProfile().theme_dark_overrides}}">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" value="{{getProfile().Name}}">
                        </div>
                        <div class="form-group">
                            <label for="Surname">Surname</label>
                            <input type="text" class="form-control" id="Surname" value="{{getProfile().Surname}}">
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Description" value="{{getProfile().Description}}">
                        </div>
                        <div class="form-group">
                            <label for="Organization">Organization</label>
                            <input type="text" class="form-control" id="Organization" value="{{getProfile().Organization}}">
                        </div>
                        <div class="form-group">
                            <label for="i">i</label>
                            <input type="text" class="form-control" id="i" value="{{getProfile().i}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
        
        
            </div>
        </div>
      </div>
      <!--<div class="col">
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="login-container col-md-6">
                    <h2 class="text-center mb-4">Profile</h2>
                    <form>
                        <div class="form-group">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" value="{{getProfile().id}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" value="{{getProfile().first_name}}" placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" value="{{getProfile().last_name}}" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" value="{{getProfile().email}}" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" value="{{getProfile().password}}" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" value="{{getProfile().location}}" placeholder="Enter location">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" value="{{getProfile().title}}" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" value="{{getProfile().description}}" placeholder="Enter description">
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" id="tags" value="{{getProfile().tags}}" placeholder="Enter tags">
                        </div>
                        <div class="form-group">
                            <label for="avatar">Avatar</label>
                            <input type="text" class="form-control" id="avatar"
                                placeholder="Enter avatar">
                        </div>
                        <div class="form-group">
                            <label for="language">Language</label>
                            <input type="text" class="form-control" id="language" value="{{getProfile().language}}" placeholder="Enter language">
                        </div>
                        <div class="form-group">
                            <label for="tfa_secret">Tfa secret</label>
                            <input type="text" class="form-control" id="tfa_secret" value="{{getProfile().tfa_secret}}" placeholder="Enter tfa secret">
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" value="{{getProfile().status}}" placeholder="Enter status">
                        </div>
                        <div class="form-group">
                            <label for="token">Token</label>
                            <input type="text" class="form-control" id="token" placeholder="Enter token" value="{{getProfile().token}}">
                        </div>
                        <div class="form-group">
                            <label for="last_access">Last access</label>
                            <input type="text" class="form-control" id="last_access" value="{{getProfile().last_access}}">
                        </div>
                        <div class="form-group">
                            <label for="last_page">Last page</label>
                            <input type="text" class="form-control" id="last_page" value="{{getProfile().last_page}}">
                        </div>
                        <div class="form-group">
                            <label for="provider">Provider</label>
                            <input type="text" class="form-control" id="provider" value="{{getProfile().provider}}">
                        </div>
                        <div class="form-group">
                            <label for="external_identifier">External identifier</label>
                            <input type="text" class="form-control" id="external_identifier" value="{{getProfile().external_identifier}}">
                        </div>
                        <div class="form-group">
                            <label for="auth_data">Auth data</label>
                            <input type="text" class="form-control" id="auth_data" value="{{getProfile().auth_data}}">
                        </div>
                        <div class="form-group">
                            <label for="email_notifications">Email notifications</label>
                            <input type="text" class="form-control" id="email_notifications" value="{{getProfile().email_notifications}}">
                        </div>
                        <div class="form-group">
                            <label for="appearance">Appearance</label>
                            <input type="text" class="form-control" id="appearance" value="{{getProfile().appearance}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_dark">Theme dark</label>
                            <input type="text" class="form-control" id="theme_dark" value="{{getProfile().theme_dark}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_light">Theme light</label>
                            <input type="text" class="form-control" id="theme_light" value="{{getProfile().theme_light}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_light_overrides">Theme light overrides</label>
                            <input type="text" class="form-control" id="theme_light_overrides" value="{{getProfile().theme_light_overrides}}">
                        </div>
                        <div class="form-group">
                            <label for="theme_dark_overrides">Theme dark overrides</label>
                            <input type="text" class="form-control" id="theme_dark_overrides" value="{{getProfile().theme_dark_overrides}}">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" value="{{getProfile().Name}}">
                        </div>
                        <div class="form-group">
                            <label for="Surname">Surname</label>
                            <input type="text" class="form-control" id="Surname" value="{{getProfile().Surname}}">
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Description" value="{{getProfile().Description}}">
                        </div>
                        <div class="form-group">
                            <label for="Organization">Organization</label>
                            <input type="text" class="form-control" id="Organization" value="{{getProfile().Organization}}">
                        </div>
                        <div class="form-group">
                            <label for="i">i</label>
                            <input type="text" class="form-control" id="i" value="{{getProfile().i}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
        
        
            </div>
        </div>
      </div>-->
    </div>
  </div>


